.commentList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 6px;
}

/* Thanh cuộn mượt */
.commentList::-webkit-scrollbar {
  width: 6px;
}

.commentList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.commentList::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.noComment {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 10px;
}