.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
.user-card .placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.user-card h3 {
    margin: 0;
  }
  
.user-card p {
    margin: 5px 0 0;
  }